<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Miezzle: login</title>
	<link rel="shortcut icon" href="/View/wwwroot/miezzle/favicon.ico" type="image/x-icon">
</head>
<body>

	<div class="form">

		<div class="fild_select_type_login">
			<label class="label_type_login">
				login type
			</label>

			<select class="select_type_login">
				<option>sign in</option>
				<option>sign up user</option>
				<option>sign up admin</option>
			</select>
		</div>

		<p></p>

		<button disabled>


			<div class="form_field_email">
				<labe align="left" class="form_field_email_label">
					email
				</labe>
				<input type="email" id="form_field_email-input" class="form_field_email-input" />
			</div>


			<div class="form_field_password">
				<label class="form_field_password_label" align=”left”>
					password:
				</label>
				<input type="password" id="form_field_password-input" class="form_field_label-input" />
			</div>


		</button>

		<button type="button" id="form_field_password-button" class="form_field_password-button" onclick="HidePassword()">
			<span id="form_field_password_icon0">👁️</span>
			<span id="form_field_password_icon1" hidden>🧿</span>
		</button>

		<p></p>
	</div>

	<div id="form_result" class="form_result"></div>

	<button type="button" id="form_continue-button" class="form_continue-button" onclick="Continue()">
		continue
	</button>


	<button type="button" class="form_continue_without_registration-button"  onclick="ContinueWinhoutReg()">
		continue without registration
	</button>



	<script src="/View/wwwroot/miezzle/miezzle.js" async></script>
	<input type="hidden" id="csrfToken" name="csrfToken">
</body>
</html>